html, body
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
}

a
{
    text-decoration: none;
    color: black;
}

.sidebar
{
    display: inline-block;
    height: 100%;
    width: 240px;
    max-width: 240px;
    background-color: #0000000f;
    transition: max-width 0.5s ease;
    margin: 0px;
    overflow: hidden;
}

.hamburger
{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 12px;
    left: 10px;
    border: 1px solid #0000001f;
    border-radius: 5px;
    z-index: 11;
}

.hamburger:hover
{
    cursor: pointer;
    background-color: #0000001f;
}

.sidebar_title
{
    padding: 10px 0px;
    text-align: center;
    transition: opacity 0.25s ease;
}

.sidebar_title span
{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    border-bottom: 4px solid black;
}

.sidebar_menu
{
    width: 100%;
    max-height: calc(100vh - 68px);
    margin-top: 24px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar 
{
    width: 6px;
}
   
::-webkit-scrollbar-thumb 
{
    background-color: #0000003f;
    border-radius: 4px;
}

.sidebar_submenu_title
{
    background-image: url("media/folder-icon.png");
}

.sidebar_submenu_items
{
    max-height: 0px;
    transition: max-height 0.5s ease;
    overflow: hidden;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    text-align: left;
}

.sidebar_menu_item, .sidebar_submenu_title, .sidebar_submenu_items li
{
    padding: 5px;
    padding-left: 40px;
    display: block;
    cursor: pointer;
    font-size: 16px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 20px 7px;
    color: #777;
}

.sidebar_menu_item, .sidebar_submenu_items li
{
    background-image: url("media/file-icon.png");
}

.sidebar_menu_item:hover, .sidebar_submenu_title:hover, .sidebar_submenu_items li:hover
{
    background-color: #0000001f;
}

.sidebar_menu_active
{
    background-color: #0000001f;
    border-left: 4px solid #aaa;
    color: #222;
}

#content_source
{
    height: 100%;
    flex-grow: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.startseite_container
{
    background-image: url("media/kkht.jpg");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.startseite_container p
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    width: 60%;
    position: absolute;
    top: 20%;
    left: 10%;
}