html, body
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: black;
}

a
{
    text-decoration: none;
    color: black;
}

.header
{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.title
{
    display: inline-block;
    margin: 20px 10px;
    margin-left: 10%;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

#header-menu
{
    margin: 16px 10px;
    float: right;
    text-align: center;
}

.header-menu-option
{
    display: inline-block;
}


.header-menu-option a
{
    display: block;
    padding: 10px 20px;
}

.header-menu-option a::after
{
    content: '';
    display: block;
    padding: 5px;
    border-bottom: 1px solid black;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.header-menu-option a:hover::after
{
    transform: scaleX(1);
}

.home-background
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px; left: 0px;
    z-index: -10;
}

.dp-img
{
    width: 400px;
    height: 400px;
    border-radius:  400px;
    padding: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    float: left;
    margin: 5%;
    margin-right: 5%;
}

.intro-text
{
    font-size: 24px;
    float: right;
    width: 50%;
    margin: 7.5% 5%;
    margin-left: 0px;
}

.container
{
    width: 70%;
    margin: 5% 15%;
}

.list-item-title
{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
}

.list-item-content
{
    margin: 0px 30px;
    max-height: 0px;
    overflow-y: scroll;
    transition: max-height 0.4s ease-in-out;
}

.list-item-content-item
{
    font-size: 16px;
    color: white;
    padding: 10px 40px;
    margin: 10px;
    border-radius: 40px;
    display: inline-block;
}

::-webkit-scrollbar 
{
    width: 5px;
}

::-webkit-scrollbar-thumb 
{
    background: #00000044;  
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover 
{
    background:  #00000088;
}

.show-list-content
{
    max-height: 300px;
}